.perfil{
    width: 80%;
    height: 90vh;
    background-image: url('../../Assets/i.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    border-radius: 20px;
}

.demosl{
    padding-top: 6em;
}

.demo{
    padding-top: 20em;
    padding-bottom: 20%;
    margin: auto;
    
    width: 100%;
    height: auto;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}


.demo img{
    width: 100%;
    margin-left: -22px;
    margin: auto;
}

.dm{
    width: 200px;
}
