.Perfil{
    margin: auto;
    width: 100%;
   
}


.photo{
    width: 100%;
    height: 90vh;
    background-image: url('../../Assets/i.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 0px;
    border-radius: 20px;
}



.aboutbody{
    padding-top: 15em;
    padding-bottom: 20%;
    margin: auto !important;
    width: 80%;
    height: auto;
}

.blakinfo{
    background-color: #ffffff;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding-top: 10em;
}

.col{
    padding-right: 5px;
    padding-left: 5px;
}


.aboutbody img{
    width: 100%;
    margin-left: -22px;
    margin: auto;
}

.aboutxt h1{
    font-size: x-large;

}

.aboutxt h2{
    font-size: medium;
    font-style: italic;
    margin-top: 2em;
    text-align: right;
}

.aboutxt p{
    font-size: medium;
    font-style: italic;
    text-align: right;
}


.aboutxt{
    text-align: center;
    width: 80%;
    margin-left: 50px;
}

.flex-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    padding-top:5em;
    margin: 0;
    list-style: none;
  }
  
  .flex-icon {
    background: rgba(255, 255, 255, 0);
    padding: 0px;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

.flex-icon img{
    width: 100%;
}


@media  (max-width: 575.98px) {

    

    .photo{
        width: 100%;
        height: 60vh;
        margin-top: -1045px;
    }
    
    .flex-icons {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        padding-top:40em;
        margin: 0;
        list-style: none;
      }
    .aboutbody{
        padding-top: 2em;
        padding-bottom: 20%;
    }
    
    .aboutxt{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    .blakinfo{
        background-color: #ffffff;
        border-radius: 20px;
        color: rgb(0, 0, 0);
        padding-top: 2em;
    }

}