.perfil{
    width: 80%;
    height: 90vh;
    background-image: url('../../Assets/i.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}


.Perfil{
    margin: auto;
    width: 90%;
}

.demosl{
    padding-top: 6em;
}

.demo{
    padding-top: 20em;
    padding-bottom: 20%;
    margin: auto;
    
    width: 100%;
    height: auto;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}


.demo img{
    width: 100%;
    margin-left: -22px;
    margin: auto;
}

.dm{
    width: 200px;
}


.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding-top:5em;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: rgb(231, 231, 231);
    padding: 5px;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
