.Contacto{
    height: auto;
    text-align: center;
    padding-top: 15em;
  }


  .Bodycontact{
    width: 80%;
    padding-top: 6em;
    margin: auto;
    padding-bottom: 10em;
  }

  .aligt{
    padding-top: 5em;
  }

.Contacto h1{
  font-size: 60px;
  color: rgba(165, 129, 82, 0.616);
}

 h4{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.959);
  margin: auto;
  padding-top: 6em;
}

.tittlecontact h2{
  text-align: center;
  font-size: 20px;
}


.tittlecontact p{
  
  font-size: 15px;
}

.resume{
  margin: auto;
  width: 26vw;
  height: 60vh;
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.699),rgb(212, 212, 212)),url('../../Assets/resume.jpg');
  opacity: 1;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  cursor: pointer;
  color: black;
}

.icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 10px;
  margin: 0;
  list-style: none;

}

.icon-list {

  padding: 5px;
  width: 93px;
  height: 90px;
  margin-top: 10px;

  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

@media  (max-width: 575.98px) {

  .Contacto{
    height: auto;
    text-align: center;
    padding-top: 1em;
 
    
  }

  .aligt{
    padding-top: 0em;
  }



  .icons{
    width: 100%;
  }

  .resume{
    margin: auto;
    width: 60vw;
    margin-top: 6em;
    height: 60vh;
    opacity: 1;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    cursor: pointer;
  }
  
}