.Contacto{
    height: 20vh;
    text-align: center;
    text-align: center;
  }

.Contacto h1{
  font-size: 80px;
  color: rgba(165, 129, 82, 0.616);
}



.icons{
  width: 20%;
  display: flex;
  margin: auto;
  text-align: center;
  padding-top: 2em;
}

@media  (max-width: 575.98px) {
  .icons{
    width: 40%;
  }
}