.ListProcess h1{

    font-size: 50px;
    color: rgba(0, 0, 0, 0.616);
    padding-top: 0em;
    
}

.ListProcess h2{
    font-size: 200px;
    color: rgba(165, 129, 82, 0.616);
    padding-top: 2em;
}



.back{
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
}

.back h1{
    padding-top: 11em;
    color: black;
}


.bodyinfo1{
    padding: 10em;
}

