.ListProcess h1{

    font-size: 50px;
    color: rgba(165, 129, 82, 0.616);
    padding-top: 2em;
    
}

.ListProcess h2{
    font-size: 200px;
    color: rgba(165, 129, 82, 0.616);
    padding-top: 2em;
}

.bodyinfo{
    height: 40vh;
    background-color: rgb(240, 240, 240);
}

.bodyinfo1{
    height: 40vh;
    background-color: rgb(255, 255, 255);
    
}