/***********************
CSS Home
************************/

.App {
    text-align: center;
    font-family: 'Comfortaa-Light';
    background-color: #F7F9FF;
  }

  .App-header {
    background-color: #ffffff;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.411),
      rgba(248, 248, 255, 0.993)
    ),
    url('../Assets/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


/***********************
CSS Portafolio
************************/

.portafolio{
    height: auto;
  }

