
  
.bodyprojects{
    margin-top: 97px;
  }


  .bodycard{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
 
   
  }
  
  
  .fount-tittle{
    
    width: 80%;
    margin-top: 20em;
    background: rgb(255, 255, 255);
    /* height: 30px; */
    margin-left: 9%;
    margin-right: auto;
    text-align: center;
    position: absolute;

  }

  .next{
    width: 5%;
    margin-left: 15px;
  }

  .fount-tittle h1{
    padding-top: 1em;
    font-size: 35px;
    font-weight: bold;
    text-transform:uppercase;
    font-weight: 800;
    font-family: 'Comfortaa', cursive;
    letter-spacing: -0.1em;
  }
  .fount-tittle p{
    padding-top: 0em;
    font-size: medium;
    font-weight:500;
    font-family: 'Comfortaa', cursive;
    letter-spacing: -0.1em;
  }




  .figures{
    background-image: url('../Assets/32.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 50%;
    margin-left: 25%;
    height: 1.5vh;
    bottom: 0%;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    display: block;
    
  }


  .clics{
    bottom: 30px;
    position: absolute;
    width: 100%;
  }


  .fount-text p{
    color: rgb(0, 0, 0);
    padding-top: 2em;
    font-size: 15px;
    font-weight: bold;
    text-transform:uppercase;
  }

  .fount-text p:hover{
    color: rgb(204, 204, 204);
    font-weight: bold;
  }

  a:hover{
    text-decoration: none;
  }



  .txtcol2{
    background: #ffffff;
    height: 341px;
    width: 35vw;
    border-radius: 65px;
    margin-top: 30px;
    -webkit-box-shadow: 2px 2px 5px rgb(201, 201, 201);
    -moz-box-shadow: 2px 2px 5px rgb(201, 201, 201);
    box-shadow: 2px 2px 5px rgb(201, 201, 201);
  }
  
  
  .body-t{
    height: auto;
    width: 50%;
    margin: auto;
  }
  
  @media  (max-width: 575.98px) {
  
    .portafolio{
      width: 100%;
      margin: auto;
    }
  
  
  .card-img{
    height: 726px;
    width: 100%;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  
    .gdimg{
      height: 726px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 200px;
    }
  
    .txtcol{
      height: 300px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 3vh;
    }
  
    .txtcol2{
      background: #ffffff;
      height: 341px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 30px;
    }
  
    .gdimg2{
      height: 726px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 36px;
    }
  
    .demo4{
      height: 341px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 30px;
    }

    .InfoP{
      width: 70%;
    }
  
   }
  
 
  