
  
.bodyprojects{
    margin-top: 97px;
  }
  
  .card-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 30vw;
    border-radius: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  
  .InfoP{
    background-color: rgb(0, 0, 0);
    bottom: 49px!important;
    position: absolute;
    width: 40%;
    height: 35vh;
    padding: 1em;
    border-radius: 10px 30px 10px 30px;
    right: 15%;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .fount-tittle{
    margin-top: 1em;
    width: 5%;
    height: 4vh;
    background-color: white;
  }

  .fount-tittle p{
    font-size: 20px;
    padding-left: 1em;
    text-align: center;
    letter-spacing: 1px;
   
  
  }


  .fount-text{
    background-color: rgb(255, 255, 255);
    height: 13vh;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 70px;
  }

  .fount-text p{
    color: rgb(0, 0, 0);
    padding-top: 2em;
    font-size: medium;

  }

  .InfoP:hover{
    color: black;
    background-color: rgb(248, 248, 248);
    text-decoration: none;
  }


  
 
  
  .txtcol2{
    background: #ffffff;
    height: 341px;
    width: 35vw;
    border-radius: 65px;
    margin-top: 30px;
    -webkit-box-shadow: 2px 2px 5px rgb(201, 201, 201);
    -moz-box-shadow: 2px 2px 5px rgb(201, 201, 201);
    box-shadow: 2px 2px 5px rgb(201, 201, 201);
  }
  
  
  .body-t{
    height: auto;
    width: 50%;
    margin: auto;
  }
  
  @media  (max-width: 575.98px) {
  
    .portafolio{
      width: 84%;
      margin: auto;
    }
  
  
  .card-img{
  
    margin-top: 0;
    height: 726px;
    width: 77vw;
    border-radius: 65px;
    margin-top: 30px;
  }
  
  
    .gdimg{
      height: 726px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 200px;
    }
  
    .txtcol{
      height: 300px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 3vh;
    }
  
    .txtcol2{
      background: #ffffff;
      height: 341px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 30px;
    }
  
    .gdimg2{
      height: 726px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 36px;
    }
  
    .demo4{
      height: 341px;
      width: 77vw;
      border-radius: 65px;
      margin-top: 30px;
    }
  
   }
  
 
  