/***********************
CSS Footer
*/
.Footer {
/*background: -webkit-linear-gradient(135deg, rgb(109, 91, 88), rgb(255, 191, 255));*/
background: -webkit-linear-gradient(135deg, rgb(25, 25, 26), rgb(27, 27, 27));
    color: #ffffff;
    padding: 2em;
   /*background-image: url('../Assets/344.jpg');*/
    
  }

  .Footer h1{
    font-size: 1.6rem;
  }
  .Footer h2{
    font-size: 1rem;
  }

  .Footer p{
    font-size: 0.8rem;
  }



