.navbar{
  background-color:rgba(255, 255, 255, 0);
  opacity: 1;
  color: #000000;
  height: 10vw;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 25px;
    list-style: none;
    width: 100%;
    justify-content: center;
    font-size: 22px;
    color: black;
    }


.effect-nav{
  overflow: hidden;
  padding: 0 4px;
  height: 2.2em;
}

.effect-nav span{
  position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.effect-nav :hover span,
.effect-nav :focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.effect-nav  span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 900;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



  @media screen and (max-width: 960px){
     

    .navbar{
      background-color:transparent;
      height: auto;
      padding-bottom: 20px;
    }

      .nav-menu{
          display: flex;
          flex-direction: column;
          display: list-item; 
          margin-left: 0px;
          opacity: 1;
          z-index: 1;
          height: auto;
      }

      .nav-menu1{
        opacity: 0;
        z-index: 0;
        margin-top: -30px;
      }


      .effect-nav :hover span,
      .effect-nav :focus span {
        -webkit-transform: translateY(-0%);
        -moz-transform: translateY(-0%);
        transform: translateY(-0%);
      }

      .effect-nav  span::before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 900;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
      

  }

