
.NavBaritems{
    background-color: white;
    width: 100%;
    height: 90px;
    padding: 2em;
    cursor: pointer;
    position: fixed;
    display: flex;
    opacity: 0.8;
    justify-content: center;
    z-index: 1;

}
.navBar-logo h1{
    font-size: 1vw;
}


  .nav-menu{
      display: grid;
      grid-template-columns: repeat(6, auto);
      grid-gap: 20px;
      list-style: none;
      text-align: center;
      width: 70vw;
      justify-content: center;

  }

  .menu-icon{
      display: none;
  }

  li{
      text-decoration: none;
  }


  .objects{
    right: 46px;
    position: absolute;
  }

  .blk{
    left: 46px;
    position: absolute;
    width: 6%;
  }



  @media screen and (max-width: 960px){
      .NavBaritems{
          position: fixed;
      }

      .nav-menu{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 80px;
          left: -100%;

          transition: all 0.5s ease;
      }

      .nav-menu.active{
          background-color: bisque;
          left: 0;

          transition: all 0.5s ease;
          z-index: 1;
      }

      .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }


     h1{

        font-size: 1.1vw;
        font-size: 20vw;
    }



  .objects{
    right: -140px;
    position: absolute;
  }

  .blk{

    position: static;
    width: 100%;
  }






  }

