/***********************
CSS Footer
*/
.Footer {
/*background: -webkit-linear-gradient(135deg, rgb(109, 91, 88), rgb(255, 191, 255));*/
    background: rgba(165, 129, 82, 0.616);
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
    -webkit-text-fill-color: transparent;
    
  }

  .Footer h1{
    font-size: 2rem;
  }
  .Footer h2{
    font-size: 1.2rem;
  }

.lss{
 background: -webkit-linear-gradient(135deg, rgb(252, 233, 230), rgb(255, 238, 222));
  height: 3vh; 
  }

.ngk{
    width: 100%;
    margin: auto;
    padding: 1em;
}

