/***********************
CSS Footer
*/
.Footer {
/*background: -webkit-linear-gradient(135deg, rgb(109, 91, 88), rgb(255, 191, 255));*/
background: -webkit-linear-gradient(135deg, rgb(235, 235, 235), rgb(238, 238, 238));
    color: black;
    padding: 2em;
   
    
  }

  .Footer h1{
    font-size: 2rem;
  }
  .Footer h2{
    font-size: 1.2rem;
  }

.ngk{
    width: 100%;
    margin: auto;
    padding: 1em;
}

