.carrusel{
    padding: 2em;
    width: 90%;
    margin: auto;
    background: #E9EEF6;
    border-radius: 30px;
  }


  .tittle{
    padding: 5em;
  }

  .back-info {
    height: 80vh;
    width: 50%;
    text-align: left;
    padding-left: 3em;
    padding-top: 7em;

  }


  .back-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 50%;
  }

  .back-info img{
    padding-top: 1em;
    width: 20%;
  }

  .flex-EX {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    
  }

  .flex-Cards{
    background: #E9EEF6;
    padding: 1em;
    width: 253px;
    height: 273px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 65px;
  }


