
.logo{
  width: 20%;
  margin: auto !important;
}

.portafolioB{
  width: 100%;
  margin: auto;
  height: auto;
  padding-bottom: 8em;
}


.backs{
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.877),rgba(255, 255, 255, 0.993)),url('../../Assets/backs.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -440px;

  
}

.backs h1{
  font-size: 45px;
  margin: auto;
  padding-top: 12em;
}

.backs p{
  font-size: 20px;
  margin: auto;
}

.portfolio{
  width: 95%;
  margin: auto;
  height: auto;
  padding-bottom: 8em;
}



@media  (max-width: 575.98px) {

.logo{
  width: 100%;
  padding-top: 5em;
  margin: auto;
}

.portafolio{
  padding-top: 2em;
  width: 100%;
  margin: auto;
  height: auto;
  padding-bottom: 8em;
}


}


.col-lg-6{
  padding-right: 15px;
    padding-left: 15px;
    padding-top: 70px;
}